@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--jetBrainsMono), sans-serif;
}

.stroke-text-sm {
  text-shadow: -1px 0 #008f11, 0 1px #008f11, 1px 0 #008f11, 0 -1px #008f11;
}

.stroke-text-md {
  text-shadow: -2px 0 #008f11, 0 2px #008f11, 2px 0 #008f11, 0 -2px #008f11;
}

.stroke-text-lg {
  text-shadow: -3px 0 #008f11, 0 3px #008f11, 3px 0 #008f11, 0 -3px #008f11;
}

.box-shadow {
  box-shadow: -1px 0 2px rgba(37, 181, 114, 0.6),
    0 1px 2px rgba(37, 181, 114, 0.6), 1px 0 2px rgba(37, 181, 114, 0.6),
    0 -1px 2px rgba(37, 181, 114, 0.6);
}

@layer components {
  .link {
    @apply w-full text-center text-[#36454F] font-bold;
  }

  .thin-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .menu-background {
    @apply bg-white/5 bg-[radial-gradient(#008f11_7%,transparent_10%)] bg-[size:10px_10px];
  }
  .mobile-menu-background {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@layer utilities {
  .text-shadow-green {
    text-shadow: -1px 0 #008f11, 0 1px #008f11, 1px 0 #008f11, 0 -1px #008f11;
  }
  .overlay {
    @apply absolute z-[-1] left-0 right-0 w-full h-full object-cover bg-gradient-to-r from-[rgba(0,84,62,0)] to-[rgba(0,177,30,0.15)];
  }
  .indicator::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -10px;
    left: 28px;
    border-width: 15px 10px 0;
    border-style: solid;
    border-color: #262626 transparent transparent;
  }

  .label::before {
    border-color: rgb(20, 156, 115) transparent transparent;
  }

  .error::before {
    border-color: rgb(206, 83, 83) transparent transparent;
  }
}
